@media(max-width: 1440px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
  .header__logo {
    margin-right: 0;
  }

  .nav__item:not(:last-child) {
    margin-right: 15%;
  }

  .about__right__item-img1::after {
    left: 60px;
    top: 40px;
  }

  .about__right__item-img2::after {
    left: 60px;
    top: 40px;
  }

  .about__right__item-img1::before {
    left: 129px;
    top: 14px;
  }

  .about__right__item-img2::before {
    left: 112px;
    top: 14px;
  }

  .about__left {
    width: 60%;
  }

  .about__right {
    width: 37%;
  }

  .about__left__item {
    padding: 40px 50px 40px 44px;
  }

  .about__right__item {
    padding: 175px 30px 30px 30px;
    background-position: 50% 5%;
  }

  .footer__third-block {
    display: none;
  }
}

@media (max-width: 1200px) {
  /* header */
  .header {
    margin-bottom: 40px;
  }

  .header__container {
    padding-top: 26px;
    padding-bottom: 27px;
  }

  .header__logo {
    text-align: center;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .swiper-container {
    padding: 0 50px;
  }

  .hero__info {
    min-width: 100%;
    padding: 0;
  }

  .burger {
    display: flex;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    min-width: 420px;
    height: 77.5vh;
    min-height: 808px;
    z-index: 100;
    padding: 0 0 80px 48px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: transform .5s ease-in-out, visibility .5s ease-in-out;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 61px;
  }

  .nav__link {
    font-size: 24px;
    line-height: 29px;
  }

  .header__nav--active {
    transform: translateX(0);
    visibility: visible;
    transform: none;
  }

  .header__nav--active .nav__list {
    align-items: start;
    margin-right: 0;
  }

  .burger--active {
    transform-origin: center;
  }

  .burger--active
  .burger__line {
    opacity: 0;
  }

  .burger--active::before,
  .burger--active:active .burger__line::before {
    top: 45%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
  }

  .burger--active::after,
  .burger--active:active .burger__line::after {
    bottom: auto;
    top: 45%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
  }


  /* hero */
  .hero {
    margin-bottom: 36px;
  }

  .hero__content {
    min-height: 668px;
  }


  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__information {
    padding: 120px 17px 57px;
    max-width: 970px;
    color: var(--color-white);
  }

  .hero__background--1 {
    background-image: url('../img/hero-img-1-1200.jpg');
  }

  .hero__background--2 {
    background-image: url('../img/hero-img-2-1200.jpg');
  }

  .hero__background--3 {
    background-image: url('../img/hero-img-3-1200.jpg');
  }


  /* about */
  .about {
    margin-bottom: 80px;  }

  .about__descr {
    margin-bottom: 60px;
  }

  .about__content {
   flex-direction: column;
  }

  .about__left {
    margin-right: 0;
    width: 100%;
    min-height: 640px;
    margin-bottom: 32px;
    background-image: url('../img/about-bcground-1200.jpg');
  }

   .about__left__item {
    padding: 40px 50px 39px 51px;
  }

  .about__left__text {
    flex-basis: 59%;
  }

   .about__left__btn {
    padding: 18px 36px;
  }

  .about__right {
    margin-left: 0;
    width: 100%;
  }

  .about__right:first-child {
    margin-bottom: 32px;
  }

  .about__right__item {
    padding: 65px 115px 63px 316px;
    width: 100%;
  }

  .about__right__item-img1::after {
    width: 120px;
    height: 120px;
    left: 76px;
    top: 109px;
  }

  .about__right__item-img2::after {
    width: 128px;
    height: 127px;
    left: 76px;
    top: 101px;
  }

  .about__right__item-img1::before {
    width: 132px;
    height: 132px;
    left: 147px;
    top: 64px;
  }

  .about__right__item-img2::before {
    width: 136px;
    height: 136px;
    left: 130px;
    top: 64px;
  }
  /* process */
  .process {
    margin-bottom: 75px;  }

  .process__menu {
    margin-bottom: 51px;
  }

  .process-article__info {
    margin-right: 50px;
  }

  .process-article__descr {
    margin-bottom: 24px;
    min-height: auto;
  }

  /* faq */
  .faq {
    margin-bottom: 79px;  }

    .faq__item .faq__item-title {
    font-size: 20px;
    line-height: 32px;
  }

  .faq__item-span {
    max-width: 82%;
  }

  /* footer */
  .footer {
    padding-bottom: 45px;
  }

  .footer__first-block {
    margin-right: 0;
  }

  .form {
    width: 100%;
    margin-bottom: 32px;
  }

  .footer__form-title {
    margin-bottom: 25px;
  }

  .footer__btn {
    padding: 20px 36px;
  }
}

@media (max-width: 992px) {
  /* header */
  .header {
    margin-bottom: 40px;
  }

  .header__container {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .header__nav {
    min-height: 771px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .header__search {
    top: 5px;
  }
  /* hero */
   .hero {
    margin-bottom: 35px;
  }

  .hero__content {
    padding: 0;
    min-height: 662px;
  }

  .hero__information {
    padding: 159px 39px 0px;
    max-width: 970px;
  }

  .swiper-slide {
    border-radius: 24px;
  }

  .hero__background--1 {
    background-image: url('../img/hero-img-1-992.jpg');
  }

  .hero__background--2 {
    background-image: url('../img/hero-img-2-992.jpg');
  }

  .hero__background--3 {
    background-image: url('../img/hero-img-3-992.jpg');
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
  }
  /* about */
  .about {
    margin-bottom: 81px;
  }

  .about__descr {
    margin-bottom: 55px;
  }

  .about__left__item {
    padding: 50px 39px;
    border-radius: 24px;
  }

  .about__left {
    min-height: 650px;
    border-radius: 24px;
  }

  .about__left__text {
    flex-basis: 60%;
  }

  .about__left__btn {
    padding: 18px 37px;
  }

  .about__right__item {
    padding: 35px 44px 33px 169px;
    min-height: 235px;
    border-radius: 24px;
  }

  .about__right__item-img1::after {
    width: 72px;
    height: 72px;
    left: 39px;
    top: 94px;
  }

  .about__right__item-img2::after {
    width: 77px;
    height: 77px;
    left: 39px;
    top: 89px;
  }

  .about__right__item-img1::before {
    width: 80px;
    height: 80px;
    left: 81px;
    top: 67px;
    background-image: url('../img/about_box_tablet.svg');
  }

  .about__right__item-img2::before {
    width: 81px;
    height: 81px;
    left: 72px;
    top: 67px;
    background-image: url('../img/about_gear_tablet.svg');
  }
  /* process */
  .process {
    margin-bottom: 11px;
  }

  .process__title {
    margin-bottom: 48px;
  }

  .process__menu {
    margin-bottom: 49px;
  }

  .process__item:not(:last-child) {
    margin-right: 23%;
  }

  .process-article {
    flex-direction: column-reverse;
  }

  .process-article__image {
    display: inline-flex;
    max-width: 100%;
    text-align: center;
  }

  .process-article__svg {
    border-radius: 24px;
}

  .process-article__title {
    margin-bottom: 9px;
  }

  .process-article__descr {
    max-width: 100%;
  }

  .process-article__descr--br {
    display: none;
  }

  .process-article__column {
    width: 100%;
    margin-bottom: 39px;
  }

  .process-article__info {
    margin-right: 0;;
  }

  .process-article__btn_contract {
    padding-right: 34px;
  }

  /* faq */
  .faq {
    margin-bottom: 111px;
  }

  .faq__item-span {
    max-width: 100%;
  }

  .faq__item:not(:first-child) {
    margin-top: -2px;
  }

  .faq__title {
      margin-bottom: 31px;
  }

  /* footer */
  .footer {
    padding-bottom: 46px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__nav {
    display: none;
  }

  .footer__form-title {
    margin-bottom: 25px;
  }

  .footer__logo {
    margin-bottom: 11px;
  }

  .footer__btn {
    padding: 20px 38px;
  }

  .form {
    margin-bottom: 31px;
    width: 81%;
}

  .footer__form {
    margin-bottom: 49px;
  }
}

@media (max-width: 680px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .title {
    font-size: 24px;
    line-height: 29px;
  }

  .title-h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  /* header */
  .header {
    margin-bottom: 30px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .header__container {
    padding-top: 14px;
    padding-bottom: 16px;
  }

  .header__search {
    padding-top: 18px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    z-index: 1001;
    top: 0;
    right: 0;
    height: 69px;
    min-width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.6);
  }

  .header__nav {
    padding: 0px 0 388px 16px;
    min-width: 320px;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 20px;
  }

  .header__search-input {
    min-width: 69%;
    height: 24px;
  }

  .header__search-input::placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .header__search-input:focus-visible {
    outline-offset: 0;
    transition: outline-offset .3s ease-in-out;
  }

  .header__search-submit {
    margin-right: 22px;
  }

  /* hero */
  .hero {
    margin-bottom: 60px;
  }

  .hero__content  {
    padding: 30px 0px;
    min-height: auto;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
  }

  .swiper-container {
    padding: 0 15px;
  }

  .swiper-slide {
    border-radius: 16px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 16px;
  }

  .hero__information {
    padding: 30px 22px;
    text-align: center;
  }

  .hero__background--1 {
    background-image: url('../img/hero-img-1-680.jpg');
  }

  .hero__background--2 {
    background-image: url('../img/hero-img-2-680.jpg');
  }

  .hero__background--3 {
    background-image: url('../img/hero-img-3-680.jpg');
  }

  .hero__descr {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }

  .hero__info-btn {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  /* about */
  .about {
    margin-bottom: 62px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 13px;
  }

  .about__left {
    display: flex;
    min-height: auto;
    background-image: none;
    border-radius: 0;
  }

  .about__left__item::before {
    content: '';
    margin-bottom: 9px;
    min-width: 100%;
    min-height: 200px;
    background-image: url('../img/about-bcground-576.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
  }

  .about__left__item {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    font-size: 14px;
    color:var(--color-black);
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: none;
    border-radius: 0;
  }

  .about__left__text {
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about__left__btn {
    padding: 10px 43px;
    color: var(--color-default);
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
    border: 2px solid var(--color-default);
  }

  .about__left__btn:focus-visible {
    background-color: var(--color-default);
    color: var(--color-white);
    transition: background-color .5s ease-in-out, border-color 0.5s ease-in-out, color .5s ease-in-out;
    border: 2px solid var(--color-default);
  }

  .about__left__btn:hover:not(:focus-visible) {
    background-color: var(--color-default);
    color: var(--color-white);
    transition: background-color .5s ease-in-out, border-color 0.5s ease-in-out, color .5s ease-in-out;
    border: 2px solid var(--color-default);
  }

  .about__left__btn:active:not(:focus-visible) {
    background-color: var(--color-active);
    color: var(--color-white);
    transition: background-color .5s ease-in-out, border-color 0.5s ease-in-out, color .5s ease-in-out;
    border: 2px solid var(--color-active);
  }

  .about__right__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about__right__item {
    padding: 61px 0 0;
    border: none;
  }

  .about__right__item::before {
    margin-right: 0;
    flex-shrink: 0;
    width: 64px;
    background-position: top left;
    background-repeat: no-repeat;
  }

  .about__right__item-img1::after {
    width: 43px;
    height: 43px;
    left: 0px;
    top: 7px;
  }

  .about__right__item-img2::after {
    width: 43px;
    height: 43px;
    left: 0;
    top: 7px;
  }

  .about__right__item-img1::before {
    width: 45px;
    height: 46px;
    left: 22px;
    top: 1px;
  }

  .about__right__item-img2::before {
    width: 45px;
    height: 45px;
    left: 20px;
    top: 0px;
  }

  .about__right__title {
    margin-bottom: 4px;
  }

  /* process */
  .process {
    margin-bottom: 22px;
  }

  .process__title {
    margin-bottom: 15px;
  }

  .process__menu__btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .process__item:not(:last-child) {
    margin-right: 43px;
  }

  .process__menu {
    margin-bottom: 15px;
  }

  .process-article__svg {
    border-radius: 16px;
  }

  .process-article__image {
    margin-bottom: 20px;
  }

  .process-article__title {
    margin-bottom: 13px;
  }

  .process-article__descr {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 28px;
  }

  .process-article__btn {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border-radius: 8px;
  }

  .process-article__btn:not(:last-child) {
    margin-right: 0;
  }

  .process-article__buttons {
    justify-content: space-between;
  }

  .process-article__btn_more {
    padding: 11px 44px;
  }

  .process-article__btn_contract {
    padding: 11px 31px;
    border: 1px solid var(--color-black);
  }

  /* faq */
  .faq {
    margin-bottom: 59px;
  }

  .faq__title {
    margin-bottom: 16px;
  }

  .faq__item .faq__item-title {
    padding: 29px 0 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__item__text {
    font-weight: 500;
    font-size: 8px;
    line-height: 16px;
  }

  .faq__item-span {
    max-width: 88%;
}

  .faq__item-icon {
    display: none;
  }

  .faq__item-icon-tablet {
    margin-left: 16px;
    display: inline-flex;
    flex-shrink: 0;
  }

  .faq__item-icon-tablet circle,
  .faq__item-icon-tablet path {
    transition: fill .4s ease-in-out,
                transform .4s ease-in-out;
  }

  .faq__item .faq__item-title:focus-visible .faq__item-icon-tablet circle {
    fill: var(--color-default);
  }

  .faq__item .faq__item-title:hover:not(:focus-visible) .faq__item-icon-tablet circle {
    fill: var(--color-default);
  }

  .faq__item .faq__item-title:focus-visible .faq__item-icon-tablet path {
    fill: var(--color-white);
  }

  .faq__item .faq__item-title:hover:not(:focus-visible) .faq__item-icon-tablet path {
    fill: var(--color-white);
  }

  .faq__item .faq__item-icon-tablet:active {
    transform: rotate(45deg);
  }

  /* footer */
  .footer {
    padding-top: 33px;
    padding-bottom: 27px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__nav {
    display: none;
  }

  .footer__logo {
    margin-bottom: 11px;
  }

  .footer-flex {
    align-items: center;
  }

  .form {
    width: 100%;
    margin-bottom: 25px;
  }

  .footer__btn {
    padding: 12px 29px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .footer__form {
    margin-bottom: 16px;
  }

  .footer__form-title {
    margin-bottom: 20px;
    align-self: start;
  }

  .form__field {
    padding: 0 20px;
  }

  .form__field_area {
    padding-top: 14px;
  }

  .agreement-div {
    flex-direction: column;
  }

  .footer__btn {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .footer__first-block {
    padding-top: 16px;
    border-top: 1px solid var(--color-deep-dark-grey);
  }

  .footer__svg {
    display: none;
  }

  .footer__svg-tablet {
    display: inline-block;
  }

  .footer__socials-item:not(:last-child) {
    margin-right: 16px;
  }
}
